h1, h2, h3, h4, h5, h6, p, body, .w3-wide, .w3-text-white {
  font-family: "Montserrat", sans-serif;
  color: white;
}

hr {
  border-color: white;
}

/*Input field for password strength checker.*/

.input-field {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  margin-bottom: 8px;
  display: block;
  background: transparent;
  padding: 5px 15px;
  border: 1px solid white;
}

.input-field:focus {
  outline: none;
}

/*Transition effect for hovering over elements*/

.hover {
  color: #ffffff;
  transition: color 0.3s;
}

.hover:hover {
  color: #48CAE4;
}

.main-background {
  background-size: cover;
  background: #03045E radial-gradient(circle, #023E8A, #03045E);
}

.navbar {
  background: transparent;
}

.w3-sidebar {
  background-color: transparent;
  background-size: cover;
}

footer, a {
  text-decoration: none;
}

button {
  padding: 15px 32px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  margin: 4px 4px ;
}